/*@import url('/images/reset.css');*/

* { font-family: Verdana, Tahoma, Arial, Geneva, Helvetica, sans-serif; }

html {
	font-size: 14px; 
	font-family: Verdana, Tahoma, Arial, Geneva, Helvetica, sans-serif;
}

body {
	color:#444;
	background-color:#ffffff;
	padding-left:1px;
	padding-right:1px;
    	font-size:14px;
	font-family: Verdana, Tahoma, Arial, Geneva, Helvetica, sans-serif;
}
p,td,div,pre,input,textarea,select,a,ul,li,h3,h4{color:#2B2B2B;font-family:Verdana, Tahoma, Arial, Geneva, Helvetica, sans-serif;}

p{margin-top:0px;margin-bottom:1em;padding-top:0px;padding-bottom:0px;line-height:130%;}

.alternatingrowstyle{
    background-color:#f9f9f9;
}
.headerstyle th{
    background: #76879A url(/images/menuBackGround.gif);
    color:white;
    font-size:11px;
	text-align:center;
    height:24px;
}

.sortalternatingrowstyle{
    background-color:#3F4C6B
}
.sortrowstyle{
    background-color:#f0f0f0
}
.sortascheaderstyle{
    background:#c5c5c5 url(images/sort_asc.gif) no-repeat scroll right center;
    padding-left:5px;
}
.sortdescheaderstyle{
    background:#c5c5c5 url(images/sort_desc.gif) no-repeat scroll right center;
    padding-left:5px;
}   
.pagerstyle{
    color:#444444;
    background-color:#3F4C6B;
    font-size:x-small;
    text-align:right;
} 
.pagerstyle select{
    font-size:x-small;
}  
.previous{
    background:transparent url(images/previous.gif) no-repeat scroll center;
    height:1.3em;
    width:16px;
}
.next{
    background:transparent url(images/next.gif) no-repeat scroll center;
    height:1.3em;
    width:16px;
}  
.gotopage{
    font-size:x-small;
    width:20px;
}

span.target {
	border-bottom: 4px double; font-weight:normal;
}
span.value {
	border-bottom: 3px double; font-weight:normal;
}
span.comment {
	border-bottom: 2px dashed; font-weight:normal;
}
.datetime 
{
	font-size:12px;
	color:#888;
}
#c1 {
	text-align: justify;
	font-size:70%;
}
#c1 a, #c1 a:visited {
	color: blue;
	text-decoration: none;
}

.container {
    overflow:auto;
    height:400px;
    border:1px solid #C3C6C9;
/*	border-top:1px solid #C3C6C9;
	border-bottom:1px solid #C3C6C9;
height:expression(eval(document.documentElement.clientHeight/2));
*/
}

.container table th {
    position:relative;
    height:24px;
    text-align:center;
}

.container table tbody {
    overflow-x:hidden;
}  

#overlay {
	display:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5000;
	position:absolute;
	background-color:transparent;
	background-image:url(spacer.gif);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/overlay.png", sizingMethod="scale");
}

table.values  { table-layout: fixed; width:98%;font-size:11px; }
.values td { border:1px solid #C3C6C9;padding:8px;font-size:11px; word-wrap: break-word; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.values tr { font-size:11px; }


.faviconimg {position:relative; top:4px;}

.hlTable
{
	behavior:url(images/tablehl.htc) url(images/sort.htc);
	border: 0;
	width: 100%;
}
legend a {
	text-decoration:none;
	color:#444;
	font-size:120%;
}

fieldset.entitiesfacts {
	padding-bottom: 20px;	
}
span.entityCloudItem {
	padding: 10px 10px 10px 10px; 
	font-size:100%;
	white-space:nowrap; 
	vertical-align:middle;
}
span.entityCloudItem a 
{
	text-decoration:none;
	color:#444;
	font-size:100%;
}
#pnlTreeViews
{
	border: solid 1px #C3C6C9;
	background-color:#FBFBFB; 
	overflow:auto;
	width:100%;
}

.columns { clear: both; width: 100%; //padding-right: 1px; //overflow-x: hidden; }
.columns .a, .columns .b { float: left; line-height:23px; font-size:13px; vertical-align:top;}

legend { 
	word-wrap: break-word; 
	text-overflow:ellipsis; 
	overflow:hidden;
}

legend a
{
	text-decoration:none;
	color:#444;
	font-size:80%;
	font-weight:bold;
	overflow:hidden;
}

legend.documentTitle a:hover
{
	text-decoration:underline;
}